header {
  background: url("../../images/BGHeader.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 70px);
}
header .information {
  position: absolute;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 5rem;
}
header .information p {
  color: #2196f3;
  font-size: 20px;
}
header .information h2 {
  font-size: 3.3rem;
}
header .information h2 span {
  color: #2196f3;
}

@media (max-width: 768px) {
  header .information {
    left: 2rem;
  }
  header .information h2 {
    font-size: 2.5rem;
  }
}